In [1]:
import pickle
import numpy as np

In [5]:
ohe_sex = pickle.load(open('models/models/ohe_sex.pkl','rb'))
ohe_embarked = pickle.load(open('models/models/he_embarked.pkl','rb'))
clf = pickle.load(open('models/models/clf.pkl','rb'))

In [7]:
test_input = np.array([2,'male',31.0,0,0,10.5,'S'],dtype=object).reshape(1,7)

In [8]:
test_input

array([[2, 'male', 31.0, 0, 0, 10.5, 'S']], dtype=object)

In [10]:
import pandas as pd

test_input_sex = pd.DataFrame([[test_input[0, 1]]], columns=["Sex"])
test_input_sex_encoded = ohe_sex.transform(test_input_sex)

In [16]:
test_input_sex

    Sex
0  male

In [15]:
# test_input_embarked = ohe_embarked.transform(test_input[:,-1].reshape(1,1))

test_input_embarked = pd.DataFrame([[test_input[0, 1]]], columns=["Embarked"])
test_input_embarked_encoded = ohe_embarked.transform(test_input_embarked)

In [20]:
test_input_embarked.shape

(1, 1)

In [18]:
test_input_embarked_encoded

<1x4 sparse matrix of type '<class 'numpy.float64'>'
	with 0 stored elements in Compressed Sparse Row format>

In [ ]:
# firse ab concatinate karnge and firse se pichle code ko repeat krenge which is so hectict so in next notbook we use pipeline